body
{
    background-color: #2F3336;
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

a:visited
{
    color: royalblue;
    text-decoration: none;
}

a:hover
{
    color: green;
    text-decoration: none;
}

#container
{
    width: 1650px;
    margin-left: auto;
    margin-right: auto;
}

#leagues
{
    margin-top: 0px;
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    width: 200px;
    font-size: 20px;
    text-align: left;
}

#matchAndCourses
{
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    width: 980px;
    text-align: left;
}

#bet
{
    margin-top: 0px;
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    width: 400px;
    text-align: center;
}

#bets
{
    margin-top: 0px;
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    width: 600px;
    font-size: 20px;
    text-align: left;
}

#coupon
{
    margin-left: 50px;
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    width: 1000px;
    text-align: left;
}