
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>UserBet Platform</title>

    <link rel="stylesheet" href="../static/helloStyle.css" th:href="@{/helloStyle.css}">
    <link rel="stylesheet" href="../static/main.css" th:href="@{/main.css}">
    <link rel="stylesheet" href="../static/fontello-c06bb130/css/fontello.css" th:href="@{/fontello-c06bb130/css/fontello.css}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
</head >
<body>

<div class='top'>
    <div class="container1300px">
        <div class="logo"><img src="../static/betoniarabeztla.png" th:src="@{/betoniarabeztla.png}"/></div>
        <div class="oboklogo">
            <div class="logowanie">
                <a th:href="@{'/logout'}">LOG OUT</a></br>
                <a th:href="@{'/client/settings/1'}">MY ACCOUNT</a></br>
                <a th:href="@{'/client/coupons/0'}">MY COUPONS</a>
            </div>
        </div>
    </div>
</div>

<div class='container'>


    <div class="ligi">
        <table width="100%">
            <tr>
                <td class="naglowek">Menu</td>
            </tr>
            <tr><td><a th:href="@{'/client/ALL/'+${type}+'/'+${coupon.id}+'/0'}">All Leagues</a></td></tr>
            <tr><td><a th:href="@{'/client/CL/'+${type}+'/'+${coupon.id}+'/0'}">Liga Mistrzów</a></td></tr>
            <tr><td><a th:href="@{'/client/ANG1/'+${type}+'/'+${coupon.id}+'/0'}">Premier League</a></td></tr>
            <tr><td><a th:href="@{'/client/ESP1/'+${type}+'/'+${coupon.id}+'/0'}">Primera Division</a></td></tr>
            <tr><td><a th:href="@{'/client/GER1/'+${type}+'/'+${coupon.id}+'/0'}">Bundesliga</a></td></tr>
            <tr><td><a th:href="@{'/client/ITA1/'+${type}+'/'+${coupon.id}+'/0'}">Seria A</a></td></tr>
            <tr><td><a th:href="@{'/client/FRA1/'+${type}+'/'+${coupon.id}+'/0'}">Ligue 1</a></td></tr>
            <tr><td><a th:href="@{'/client/POL1/'+${type}+'/'+${coupon.id}+'/0'}">Ekstraklasa</a></td></tr>
        </table>
    </div>

    <div class="mecze">
        <table class="tabelamecze" cellspacing="2px" th:if="${type == 'actual'}">
            <tr>
                <td class="naglowek" colspan="6">Matches and Courses</td>
                <td class="naglowek" colspan="2"><a th:href="@{'/client/'+${league}+'/ended/'+${coupon.id}}">Ended</a></td>
            </tr>
            <tr th:each="match,iter : ${listMatch}">
                <td width="25px">

                </td>
                <td>
                    <span class="przeciwnicy" th:text="|${match.team1} - ${match.team2}|"></span></br>
                    <span class="ligaczas" th:text="|${match.league} - ${match.date} ${match.time}|"></span>
                </td>
            <form action="#" th:action="@{'/add/' + ${coupon.id}+'/'+${listCourses.get(iter.index).id}+'/'+${league}}" method="post">

            <td>
                    <button type="submit" class="przyciskkurs">
                        <span th:text="${match.team1}"></span></br>
                        <b><span th:text="${listCourses.get(iter.index).value}"></span></b>
                    </button>
                </td>
            </form>
            <form action="#" th:action="@{'/add/' + ${coupon.id}+'/'+${listCourses.get((listMatch.size()*3)+iter.index).id}+'/'+${league}}" method="post">
            <td>
                    <button type="submit" class="przyciskkurs">
                        <span style="font-size: 11px;">X</span></br>
                        <b><span th:text="${listCourses.get((listMatch.size()*3)+iter.index).value}"></span></b>
                    </button>
            </td>
            </form>
            <form action="#" th:action="@{'/add/' + ${coupon.id}+'/'+${listCourses.get((listMatch.size()*2)+iter.index).id}+'/'+${league}}" method="post">
            <td>
                    <button type="submit" class="przyciskkurs">
                        <span th:text="${match.team2}"></span></br>
                        <b><span th:text="${listCourses.get((listMatch.size()*2)+iter.index).value}"></span></b>
                    </button>                </td>
            </form>
            <form action="#" th:action="@{'/add/' + ${coupon.id}+'/'+${listCourses.get((listMatch.size()*4)+iter.index).id}+'/'+${league}}" method="post">
            <td>
                    <button type="submit" class="przyciskkurs">
                        <span style="font-size: 11px;">1X</span></br>
                        <b><span th:text="${listCourses.get((listMatch.size()*4)+iter.index).value}"></span></b>
                    </button>                </td>
            </form>
            <form action="#" th:action="@{'/add/' + ${coupon.id}+'/'+${listCourses.get((listMatch.size()*5)+iter.index).id}+'/'+${league}}" method="post">
            <td>
                    <button type="submit" class="przyciskkurs">
                        <span style="font-size: 11px;">2X</span></br>
                        <b><span th:text="${listCourses.get((listMatch.size()*5)+iter.index).value}"></span></b>
                    </button>                </td>
            </form>
            <form action="#" th:action="@{'/add/' + ${coupon.id}+'/'+${listCourses.get((listMatch.size())+iter.index).id}+'/'+${league}}" method="post">

            <td>
                    <button type="submit" class="przyciskkurs">
                        <span style="font-size: 11px;">12</span></br>
                        <b><span th:text="${listCourses.get((listMatch.size())+iter.index).value}"></span></b>
                    </button>
            </td>
            </form>
            </tr>
        </table>
        <table class="tabelamecze" cellspacing="2px" th:if="${type == 'ended'}">
            <tr>
                <td class="naglowek" colspan="7">Matches and Courses</td>
                <td class="naglowek" colspan="2"><a th:href="@{'/client/'+${league}+'/actual/'+${coupon.id}}">Actual</a></td>
            </tr>
            <tr>
                <td class="naglowek" colspan="8"></td>
                <td class="naglowek" colspan="1">Score</td>
            </tr>
            <tr th:each="match,iter : ${listMatch}">
                <td width="25px">

                </td>
                <td>
                    <span class="przeciwnicy" th:text="|${match.team1} - ${match.team2}|"></span></br>
                    <span class="ligaczas" th:text="|${match.league} - ${match.date} ${match.time}|"></span>
                </td>
                <td>
                    <button type="submit" class="przyciskkurs">
                        <span th:text="${match.team1}"></span></br>
                        <b><span th:text="${listCourses.get(iter.index).value}"></span></b>
                    </button>
                </td>
                <td>
                    <button type="submit" class="przyciskkurs">
                        <span style="font-size: 11px;">X</span></br>
                        <b><span th:text="${listCourses.get((listMatch.size()*3)+iter.index).value}"></span></b>
                    </button>
                </td>
                <td>
                    <button type="submit" class="przyciskkurs">
                        <span th:text="${match.team2}"></span></br>
                        <b><span th:text="${listCourses.get((listMatch.size()*2)+iter.index).value}"></span></b>
                    </button>
                </td>
                <td>
                    <button type="submit" class="przyciskkurs">
                        <span style="font-size: 11px;">1X</span></br>
                        <b><span th:text="${listCourses.get((listMatch.size()*4)+iter.index).value}"></span></b>
                    </button>
                </td>
                <td>
                    <button type="submit" class="przyciskkurs">
                        <span style="font-size: 11px;">2X</span></br>
                        <b><span th:text="${listCourses.get((listMatch.size()*5)+iter.index).value}"></span></b>
                    </button>
                </td>
                <td>
                    <button type="submit" class="przyciskkurs">
                        <span style="font-size: 11px;">12</span></br>
                        <b><span th:text="${listCourses.get((listMatch.size())+iter.index).value}"></span></b>
                    </button>
                </td>
                <td th:text="${match.score}" style="font-size: 20px;" align="center"></td>
            </tr>
        </table>
    </div>
    <div class="kupon">
        <table width="100%">
            <tr>
                <td class="naglowek" colspan="2">Twój kupon</td>
            </tr>
            <tr th:each="course,iter : ${listCoursesOnBet}">
                <td th:text="${listMatchNamed.get(iter.index)}">
                    <span class="przeciwnicy" th:text="|${listMatch.get(iter.index).team1} - ${listMatch.get(iter.index).team2}|"></span></br>
                    <span class="ligaczas" th:text="|${listMatch.get(iter.index).league} - ${listMatch.get(iter.index).date} ${listMatch.get(iter.index).time}|"></span>
                </td>
                <td style="text-align: center;">
                    <span style="font-size: 11px;" th:text="${course.type}">X</span></br>
                    <b><span th:text="${course.value}"></span></b>
<!--                    <span class="ligaczas" th:text="|${match.league} - ${match.date} ${match.time}|"></span>-->
                </td>
                <td style="padding:10px; text-align: right;">
                    <a th:href="@{'/deleteBet/' + ${listCouponCourse.get(iter.index)}+'/'+${league}+'/'+${coupon.id}+'/'+${type}}">
                        <span style="font-size: 20px;"><i class="icon-cancel"></i></span></br>
                    </a>
                </td>
            </tr>
            <form action="#" th:action="@{'/editAmount/'+${coupon.id}+'/'+${league}+'/'+${type}}" th:object="${coupon}" method="POST">
                <tr>
                    <td colspan="2">Count</td>
                    <td><input style="width:50px" type="text" th:field="*{amount}" /></td>
                </tr>
                <tr>
                    <td colspan="2">Total Rate</td>
                    <td th:text="*{rate}"></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit">Calculate</button></td>
                    <td th:text="*{possibleWin}"></td>
                </tr>
            </form>
            <tr>
                <form action="#" th:action="@{'/confirmBet/'+${league}+'/'+${coupon.id}+'/'+${type}}" method="post">
                    <td colspan="5"><button type="submit" class="przyciskobstaw">CONFIRM</button></td>
                </form>
            </tr>
        </table>
        <h2 th:if="${alert == 1}">This match is already on the coupon<br> and you cannot bet again</h2>
        <h2 th:if="${alert == 2}">The coupon amount exceeds your account balance,<br>reduce the amount</h2>
    </div>
    <div class="both"></div>
    <div class="footer">
    </div>
</div>
</body>
</html>