<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../static/helloStyle.css" th:href="@{/helloStyle.css}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
</head>
<br>

<h1>WEB APPLICATION BET</h1>
<p> Website only for <a th:href="@{/test1}">USER</a></p>
<p> Website only for <a th:href="@{/test2}">ADMIN</a></p>
<p> Click here to <a th:href="@{/login}">LOGIN</a></p>
<p> Click here to <a th:href="@{/test}">REGISTRATION</a></p>
<p> Click here to <a th:href="@{/logout}">LOG OUT</a></p>
<br/>
<h2 th:text="${name}"></h2>

</body>
</html>