<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>User Coupons</title>

    <link rel="stylesheet" href="../static/helloStyle.css" th:href="@{/helloStyle.css}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
</head >
<body>
<div align="left">
    <a th:href="@{'/user/'+${user.id}+'/ALL'}">BACK to start page</a>
</div>
<div align="right" style="clear:both">
    <a th:href="@{'/logout'}">LOG OUT</a>
</div>
<div align="center" style="clear:both">
    <h1>User Coupons</h1>
</div>
<br/><br/>
<div id="container">
    <div id="bets">
        <h1>MY BETS</h1>
        <br></br>
        <table border="1" cellpadding="10">
            <thead>
                <tr>
                    <th>Bet ID</th>
                    <th>Date added</th>
                    <th>Amount</th>
                    <th>Rate</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="coupon : ${couponList}">
                    <td th:text="${coupon.id}">ID</td>
<!--                    <td><a th:href="@{'/user/coupons/'+${user.id}+'/'+${coupon.id}}" th:text="${coupon.date.toLocalDate()}"></a></td>-->
                    <td><a th:href="@{'/user/coupons/'+${user.id}+'/'+${coupon.id}}" th:text="${coupon.date}"></a></td>
                    <td th:text="${coupon.amount}">Amount</td>
                    <td th:text="${coupon.rate}">Rate</td>
                    <td th:text="${coupon.state}">State</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="coupon">
        <br></br>
        <table border="1" cellpadding="10">
            <thead>
                <tr>
                    <th>Match ID</th>
                    <th>League</th>
                    <th>Team 1</th>
                    <th>Team 2</th>
                    <th>Date & time</th>
                    <th>Type</th>
                    <th>Value</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="match,iter : ${mathList}">
                    <td th:text="${match.id}">BET ID</td>
                    <td th:text="${match.league}">League</td>
                    <td th:text="${match.team1}">Team 1</td>
                    <td th:text="${match.team2}">Team 2</td>
                    <td th:text="${match.date}+'   '+${match.time}">Date Time</td>
                    <td th:text="${coursesList.get(iter.index).type}">Type</td>
                    <td th:text="${coursesList.get(iter.index).value}">Type</td>
                    <td th:text="${coursesList.get(iter.index).state}">State</td>
                </tr>
                    <tr th:if="${coupon != null}">
                        <td colspan="6">total of</td>
                        <td th:text="${coupon.rate}">Rate</td>
                        <td th:text="${coupon.state}">State</td>
                    </tr>
                    <tr th:if="${coupon != null}">
                        <td colspan="6">amount wagered</td>
                        <td colspan="2" th:text="${coupon.amount}">Amount</td>
                    </tr>
                    <tr th:if="${coupon != null}">
                        <td colspan="6">Possible Win</td>
                        <td colspan="2" th:text="${coupon.possibleWin}"></td>
                    </tr>
<!--                </div>-->
            </tbody>
        </table>
    </div>
</div>
</body>
</html>